/* RESET */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

h1,
h2,
h3,
a,
div {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

textarea:focus,
button:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

/* PRESETS */

.visible {
  transition: 0.4s;
  visibility: 1;
  opacity: 1;
}

.hide {
  transition: 0.4s;
  visibility: 0;
  opacity: 0;
}

.center {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.full_height {
  height: 100vh;
}

body {
  background: black;
  color: white;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  animation: out-in 0.8 linear;
}

.spin {
  border: 6px solid rgb(59, 59, 59); /* Light grey */
  border-top: 6px solid #ffffff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.menu {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: opacity 0.4s linear;
  /* transition: 1s; */
}

.list {
  padding: 2%;
  background-color: black;
  width: 80%;
  animation: scaleY 0.4s linear;
}

@keyframes scaleY {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.list li {
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  transition: 1s;
}

.list li:hover {
  background: white;
  color: black;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 2%;
  font-size: 2em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smooth {
  /* position: absolute; */
  z-index: 1;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.smooth::-webkit-scrollbar {
  /* display: none; */
}

/* Hide scrollbar for IE, Edge and Firefox */
.smooth {
  /* -ms-overflow-style: none;
  scrollbar-width: none;  */
}

@keyframes out-in {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  font-family: "Jost", sans-serif;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
  z-index: 1;
  width: 100%;
  top: 0;
  padding: 10px;
  height: 60px;
  max-height: 50px;
  transition: 0.4s;
  animation: from-top 0.8s linear;
}

@keyframes from-top {
  0% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.header-center {
  height: 90%px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.header-logo {
  display: none;
  filter: invert(100%);
  opacity: 1;
  height: 25px;
}

.header-logo-mobile {
  height: 25px;
  filter: contrast(200%) invert(100%);
}

.menu-mobile {
  position: absolute;
  right: 2%;
  font-size: 1.2em;
}

.btn-header {
  cursor: pointer;
  border-radius: 8px;
  padding: 1px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, white, transparent);
  transition: 0.4s;
  height: 100%;
}

.btn {
  background: black;
  border-radius: 8px;
  padding: 10px 15px;
  height: 100%;
  width: 100%;
}

.btn-header:hover {
  box-shadow: rgba(255, 255, 255, 0.507) 1px 1px 24px;
  background: white;
}

.section {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
  padding: 60px 0;
}

.background-logo {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  top: 200px;
  right: -50px;
  filter: blur(2px);
}

.inversed {
  filter: invert(100%);
  opacity: 0.2;
}

.top {
  bottom: unset;
  top: 50px;
}

.bottom {
  top: unset;
  bottom: 0;
}

.rotate {
  transform: rotate(20deg);
}

.de-rotate {
  transform: rotate(-20deg);
}

.unscale {
  transform: inherit scale(0.8);
}

.left {
  right: unset;
  left: -100px;
}

.box {
    height: 100%;
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
}

.video {
    height: 1366px;
    width: 768px;
    max-width: 90%;
    max-height: 35%;
    margin: 60px auto;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box iframe {
    width: 100%;
    height: 100%;
}

.cta {
  z-index: 1;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 200;
  max-width: 90%;
  height: 25%;
  color: white;
  animation: opacity 0.8s linear;
}

@keyframes test {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.cta h2 {
  font-weight: 600;
  animation: inherit;
}

.cta p {
  color: #ccc;
}

.cta_button {
  position: relative;
  cursor: pointer;
  color: black;
  font-weight: 400;
  margin: 10px auto;
  text-align: center;
  border-radius: 8px;
  padding: 5px 15px;
  width: 200px;
  background: white;
  border: 1px solid black;
  transition: 0.4s;
}

.cta_button i {
  position: absolute;
  right: 5px;
  line-height: 100%;
}

.cta_button:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
  width: 100%;
  margin: 0 auto;
  height: 75%;
}

.card {
  margin: 5px 0;
  padding: 10px;

  background: rgba(255, 255, 255, 0.021);
  color: white;
  border-radius: 8px;
  transition: 0.4s;
  border: 1px solid white;
  animation: opacity 0.8s linear;
  backdrop-filter: blur(5px);
  font-size: 1em;
}

.card i {
    font-size: 24px;
    opacity: 0.5;
}

.card:hover {
  box-shadow: rgba(255, 255, 255, 0.507) 1px 1px 24px;
}

.card h3 {
  font-weight: 400;
}

.card p {
  font-weight: normal;
  font-size: 0.8em;
}

.card-button {
  cursor: pointer;
  background: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  margin: 10px 5px auto auto;

}

.chatbot {
  background: white;
  overflow: hidden;
  position: relative;
  color: black;
}

.chatbot h2 {
  font-size: 2em;
  font-weight: 600;
  color: black;
}

.chatbot p {
  font-size: 1.2em;
}

.chatbot .background {
    position: absolute;
    left: -20%;
    bottom: -10%;
    width: 100%;
    transform: rotate(45deg);
    opacity: 0.5;
    z-index: -1;
}

.social-media {
  background: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.social-media h2 {
  font-size: 2em;
  font-weight: 600;
  /* color: white; */
}

.social-media p {
  font-size: 1.2em;
}

.social-media img {
  filter: unset;
  opacity: 0.8;
  max-height: 40%;
}

.landing-page {
  background: white;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.landing-page h2 {
  font-size: 2em;
  font-weight: 600;
  color: black;
}

.landing-page p {
  font-size: 1.2em;
}

.landing-page img {
  filter: unset;
  opacity: 0.8;
  max-height: 40%;
}

.title {
  font-weight: 600;
  /* padding-bottom: 2%; */
}

.next {
  cursor: pointer;
  position: absolute;
  bottom: 80px;
  left: calc(50% - 50px);
  margin: 0 auto;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100px;
  text-align: center;
  line-height: 10px;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .start {
        font-size: 1.5em;
    }

    .section {
        max-height: 100vh;
    }

    .next {
        bottom: 20px;
    }

    .cards {
        flex-direction: row;
        margin-top: 60px;
    }

    .card {
        height: 280px;
        margin: 5px 20px;
        word-wrap: break-word;
        max-width: 30%;
    }

    .card p {
        height: 100px;
        font-size: 0.8em;
    }

    .card-button {
        cursor: pointer;
        background: white;
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
        width: 200px;
        margin: 10px 5px auto auto;
    }

    .background-logo {
        top: 150px;
        width: 60%;
        height: 80%;
        max-height: 100vh;
    }

    .left {
        max-width: 30%;
    }

    /* .box {
        height: 80%;
        position: absolute;
        right: 50px;
        top: 80px;
        padding: 2%;
        z-index: 9999;
    } */

    .chatbot img {
        width: 70%;
    }

    .chatbot .background {
        position: absolute;
        left: 5px;
        bottom: 0;
        width: 600px;
        max-height: 60%;
    }

    .chatbot p {
        font-size: 1.5em;
        padding-bottom: 5%;
        /*padding-top: -5%;*/ /* Tentei remover o espaço em branco dps da transformação */
    }

    /* .chatbot .video {
        margin-top: 5px;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
    } */

    .video {
        max-height: 60%;
    }
}
